body 	{
	background-color: #ab25ba;
	border-radius: 10%;
	font-family: "Ubuntu";
}


ul li {
	display: inline;
	/*list-style-type: none;*/
}


a:hover {
	color: #43434a;
}

h6{
	color: #000000;
	font-size: 16px;
}

.container-fluid{
	width: 50%;
	margin-top: 6%;
	padding: 0;
	border-radius: 20%;
}

.card-header{
	text-align: center;
}



.btn-link:hover{
	color:#3b3838;
}

.btn-link{
	color:#3b3838;
}

.card-body{
	text-align: justify;
	color: #242222;
}

.rounded{
	 border-radius: 50%;
}

