.container{
margin-top: 4%;
padding-left: 20%;
padding-right: 20%;
border-radius: 20%;




}

.dd {
margin-left: 8%;
}
.card-header{
text-align: center;
}

.btn-link:hover{
color:#3b3838;
}

.btn-link{
color:#3b3838;
}
.card-body{
text-align: justify;
color: #242222;
}
body{
background-color: #ab25ba;
border-radius: 20%;
font-family: "Courier";
margin: auto;




}